<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type = "text/css" href="../stylesheets/style.css"  >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/javascripts/about.js"></script>
</head>
<body>
    <% allPosts.forEach(function(p) { %>
        <tr>
            <!-- <td><%= p.image %></td> -->
          <li>
            <td><%= p.title %></td>
            <td><%= p.author %></td>
            <td><%= p.body %></td>
            <td><%= p.postedOn %></td>
            <td><a href="/blog/<%= p.id %>">Detail</a>
              <form action="/blog/<%= p.id %>?_method=DELETE"
                class="delete-form" method="POST"> <br>
                <button type="submit">X</button>
              </form> 
            </td>
        </li>
        
    <p> <%= p.id %> </p>    
    </tr>
    <% }); %><br><br>
          

</body>
</html>