<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= post.author %>
    <%= post.title %>    
    <%= post.content %>    
    <%= post.postedOn %>    
    <li>
        <br><br><h2>Comments</h2>
        <form id="add-comment-form" method="POST"
          action="/blog/<%=post.id %>/comments">
          <label>Comment:</label>
          <textarea name="content"></textarea>
          <label>Rating:</label>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="submit" value="Add Comment">
        </form>
        <% if (post.comments.length) { %>
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Comment</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% post.comments.forEach(function(c) { %>
                  <tr>
                    <td><%= c.user %></td>
                    <td><%= c.date %></td>
                    <td><%= c.content%></td>
                    <td><%= c.content.rating%></td>
                    <td><%= c.id %></td>
                    <td><%= c.postedBy %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          <% } else { %>
            <h5>No Comments Yet</h5>
          <% } %>
            <form method="POST" action="/blog/<%= post.id %>?_method=DELETE"
            class="delete-form" >
            <button type="submit">X</button>
            </form>
</body>
</html>