<%- include ./partials/header.ejs %>

    <% allPosts.forEach(function(p) { %>
    <tr>
      <li>
        <td><%= p.title %></td>
        <td><%= p.author %></td>
        <td><%= p.body %></td>
        <td><%= p.postedOn %></td>
        <td><a href="/blog/<%= p.id %>">View Post</a></td>
        <td>
          <a href="/blog/<%= p.id %>">Edit Post</a>
          <form
            action="/blog/<%= p.id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <br />
            <button type="submit">X</button>
          </form>
        </td>
      </li>
      <p><%= p.id %></p>
    </tr>
    <% }); %><br /><br />
  </body>
</html>
