<%- include ./partials/header.ejs %>


<div class="divider"></div>
  <div class="section">
    <h5>Title</h5>
    <% allPosts.forEach(function(p) { %>
    <p><%= p.title %></p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Author</h5>
    <p><%= p.author %></p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Post</h5>
    <p><%= p.body %></p>
    <td><a href="/blog/<%= p.id %>">View Post</a></td>
        <td>
          <a href="/blog/<%= p.id %>">Edit Post</a>
          <form
            action="/blog/<%= p.id %>?_method=DELETE"
            class="delete-form"
            method="POST">
            <button type="submit">X</button>
          </form><br/>
  <div class="divider"></div>
  <div class="section">
    <h5>Posted On</h5>
    <p><%= p.postedOn %></p>
</div>
<% }); %> <br /><br />
  </body>
</html>
