<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type = "text/css" href="../stylesheets/style.css"  >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/javascripts/about.js"></script>
</head>
<body>
    <%= post.author %>
    <%= post.title %>    
    <%= post.content %>    
    <%= post.postedOn %>    
    <li>
      <!-- form for delete-->
      <form method="POST" action="/blog/<%= post.id %>?_method=DELETE"
        class="delete-form" >
        <button type="submit">X</button>
        </form> <br>
        <br><br><h2>Comments</h2>
        <!-- form for add Comment-->        
        <form id="add-comment-form" method="POST"
          action="/blog/<%=post.id %>/comments">
          <label>Comment:</label>
          <textarea name="content"></textarea>
          <label>Rating:</label>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="submit" value="Add Comment">
        </form>
        <% if (post.comments.length) { %>
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Comment</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% post.comments.forEach(function(c) { %>
                  <tr>
                    <td><%= c.user %></td>
                    <td><%= c.date %></td>
                    <td><%= c.content%></td>
                    <td><%= c.content.rating%></td>
                    <td><%= c.id %></td>
                    <td><%= c.postedBy %></td><br>
                    <form method="POST" action="/blog/<%= post.id %>/commentDelete/<%= c.id %>?_method=DELETE"
                      class="delete-form" >
                      <button type="submit">X</button>
                      </form>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          <% } else { %>
            <h5>No Comments Yet</h5>
          <% } %> 
</body>
</html>