<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
</head>
<body>
    <% allPosts.forEach(function(p) { %>
        <tr>
            <!-- <td><%= p.image %></td> -->
          <li>
            <td><%= p.title %></td>
            <td><%= p.author %></td>
            <td><%= p.body %></td>
            <td><%= p.postedOn %></td>
            <td><a href="/blog/<%= p.id %>">Detail</a></
            td>
        </li>
    <p> <%= p.id %> </p>    
    </tr>
    <% }); %><br><br>
    <% allPosts.forEach(function(p) { %>
        <li>
          <form action="//<%= p.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <% }); %>

</body>
</html>